
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local(Gilroy Light) url(../fonts/gilroylight.woff) format("woff");
  src: local(Gilroy Light) url(../fonts/gilroylight.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local(Gilroy Extra Bold) url(../fonts/gilroyextrabold.woff) format("woff");
  src: local(Gilroy Extra Bold) url(../fonts/gilroyextrabold.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(Open Sans Light) url(../fonts/opensanslight.woff) format("woff");
  src: local(Open Sans Light) url(../fonts/opensanslight.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(Open Sans Regular) url(../fonts/opensans.woff) format("woff");
  src: local(Open Sans Regular) url(../fonts/opensans.woff2) format("woff2");
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  min-width: 1200px;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrapper__header,
.wrapper__promo-slider,
.wrapper__popular-sections,
.wrapper__services {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapper__header {
  margin-top: 40px;
}

/*Блок header*/
.header {
  position: relative;

  width: 1160px;
  display: flex;
  flex-direction: column;
  background-color: #f7e296;
}

.header__header-top {
  position: relative;
  padding-top: 36px;
  padding-left: 60px;
  padding-right: 60px;
}

/*Блок header-top*/
.header-top {
  display: flex;
  align-items: baseline;
  padding-bottom: 27px;
}

.header__logo {
  position: absolute;
  top: -18px;
  left: 60px;
}

.header-top__main-search {
  position: relative;
  margin-right: 126px;
}

.header-top__user-menu {
  margin-right: 65px;
}

.header-top__compare-link {
  position: relative;
  margin-right: auto;
}

.header-top__cart-link {
  position: relative;
}

/*Блок logo*/
.logo__image:hover,
.logo__image:focus {
  opacity: 0.6;
}

.logo__image:active {
  opacity: 0.3;
}

/*Блок main-search*/
.main-search {
  display: flex;
  justify-content: space-between;
  width: 414px;

}

.main-search__icon-search {
  position: absolute;
  top: 16px;
  left: 3px;
  width: 16px;
  height: 16px;

  background-image: url("../img/icon/search.svg");
}

.main-search__input {
  font-size: 15px;
  line-height: 30px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 35px;
  background-color: transparent;
  border: 2px solid transparent;
}

.main-search__input:focus {
  outline: none;
}

.main-search__button {
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  background-color: transparent;
  min-width: 85px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
  border: 2px solid #000000;
}

.main-search__input:focus + .main-search__button {
  display: inline-block;
}

.main-search__input:focus + .main-search__button::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 414px;
  height: 2px;
  border: none;
  background-color: #000000;
}

.main-search__input:focus + .main-search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.main-search__input:focus + .main-search__button:focus {
  color: #ffffff;
  background-color: #000000;
}

.main-search__button:active {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.main-search__input::-webkit-input-placeholder
{
    /* WebKit browsers */
    font-size: 15px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.3);
}

.main-search__input:-moz-placeholder
{
    /* Mozilla Firefox 4 to 18 */
    font-size: 17px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.3);
}

.main-search__input:hover::-moz-placeholder
{
    /* Mozilla Firefox 19+ */
    font-size: 17px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.3);
}

.main-search__input:hover:-ms-input-placeholder
{
    /* Internet Explorer 10+ */
    font-size: 17px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.3);
}

.main-search__input:hover::-webkit-input-placeholder
{
    /* WebKit browsers */
    font-size: 15px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.6);
}

.main-search__input:hover:-moz-placeholder
{
    /* Mozilla Firefox 4 to 18 */
    font-size: 17px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.6);
}

.main-search__input:hover::-moz-placeholder
{
    /* Mozilla Firefox 19+ */
    font-size: 17px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.6);
}

.main-search__input:hover:-ms-input-placeholder
{
    /* Internet Explorer 10+ */
    font-size: 17px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.6);
}

/*Блок user-menu*/
.user-menu {
  min-width: 223px;
}

.user-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 150px;
}

.user-menu__list-item {
  list-style: none;
}

.user-menu__signin,
.user-menu__user-name {
  position: relative;
  padding-left: 27px;
}

.user-menu__signin::before,
.user-menu__user-name::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 4px;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon/user.svg");
  background-repeat: no-repeat;
}

.user-menu__signin:hover::before,
.user-menu__signin:focus::before,
.user-menu__user-name:hover::before,
.user-menu__user-name:focus::before {
  opacity: 0.6;
}

.user-menu__signin:active::before,
.user-menu__user-name:active::before {
  opacity: 0.3;
}

.user-menu__signin:hover,
.user-menu__signin:focus,
.user-menu__user-name:hover,
.user-menu__user-name:focus,
.user-menu__logout:hover,
.user-menu__logout:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__signin:active,
.user-menu__user-name:active,
.user-menu__logout:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__in-account .user-menu__list-item:first-child {
  margin-right: 22px;
}

/*Блок compare*/
.compare {
  padding-left: 20px;
}

.compare__link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 9px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon/compare.svg");
  background-repeat: no-repeat;
}

.compare__link:hover::before,
.compare__link:focus::before {
  opacity: 0.6;
}

.compare__link:active::before {
  opacity: 0.3;
}

.compare__link:hover,
.compare__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.compare__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Блок cart*/
.cart {
  padding-left: 23px;
}

.cart__link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 9px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon/cart.svg");
  background-repeat: no-repeat;
}

.cart__link:hover::before,
.cart__link:focus::before {
  opacity: 0.6;
}

.cart__link:active::before {
  opacity: 0.3;
}

.cart__link:hover,
.cart__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.cart__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Блок header-main*/
.header-main {
  padding-left: 60px;
  padding-right: 55px;
  padding-bottom: 163px;
}

.header-main__site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left:
}

/*Блок site-navigation*/
.site-navigation__item {
  list-style: none;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.site-navigation__item:first-child {
  position: relative;
  margin-right: 290px;
  padding-right: 32px;
}

.site-navigation__item:first-child::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 11px;
  left: 231px;
  background-color: #000000;
  opacity: 0.3;
}

.site-navigation__item:first-child::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  top: 4px;
  left: 238px;
  background-color: #000000;
  opacity: 0.3;
}

.site-navigation__item:nth-child(2) {
  margin-right: 34px;
}

.site-navigation__item:nth-child(3) {
  margin-right: auto;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item__submenu {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 34px;

  display: none;
  flex-wrap: wrap;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: normal;

  position: absolute;
  width: 1040px;
  left: -60px;
  bottom: -164px;

  background-color: #f7e296;
}

.site-navigation-item__submenu-item {
  flex-basis: 200px;

  display: flex;
  flex-direction: column;
}

.site-navigation-item__submenu-item:nth-child(1) {
    flex-basis: 240px;
}

/*Блок promo-slider*/
.promo-slider {
  position: relative;
  width: 1040px;
  padding-top: 99px;
  padding-bottom: 113px;
  padding-left: 60px;
  padding-right: 60px;
}

.promo-slider__toggle {
  position: absolute;
  right: 66px;
  top: 207px;
  z-index: 1;
}

.promo-slider__slide {
  display: none;
}

.slide-1-toggle:checked ~ .promo-slider__slide:nth-child(5),
.slide-2-toggle:checked ~ .promo-slider__slide:nth-child(6),
.slide-3-toggle:checked ~ .promo-slider__slide:nth-child(7) {
  display: block;
}

/*Блок slider-toggle*/
.slider-toggle__slide_1,
.slider-toggle__slide_2,
.slider-toggle__slide_3 {
  position: relative;
  display: inline-block;
  margin-right: 17px;
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slide-1-toggle:checked ~ .promo-slider__toggle .slider-toggle__slide_1::before,
.slide-2-toggle:checked ~ .promo-slider__toggle .slider-toggle__slide_2::before,
.slide-3-toggle:checked ~ .promo-slider__toggle .slider-toggle__slide_3::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

/*Блок slide*/
.slide {
  padding-left: 540px;
  position: relative;
  overflow: visible;
}

.slide::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  top: -173px;
  left: 541px;
  background-color: #ffffff;
}

.slide:nth-of-type(2)::after {
  position: absolute;
  content: "";
  width: 166px;
  height: 131px;
  background-image: url(../img/decor/slider/slider-number-1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -202px;
  right: 0;

}

.slide:nth-of-type(3)::after {
  position: absolute;
  content: "";
  width: 198px;
  height: 131px;
  background-image: url(../img/decor/slider/slider-number-2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -202px;
  right: -6px;
}

.slide:nth-of-type(4)::after {
  position: absolute;
  content: "";
  width: 201px;
  height: 131px;
  background-image: url(../img/decor/slider/slider-number-3.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -201px;
  right: -8px;
  z-index: 0;
}

.slide__product-image {
  position: absolute;
  top: -211px;
  left: 30px;
}

.slide__product-image-2_position {
  top: -198px;
  left: 56px;
}

.slide__product-image-3_position {
  top: -145px;
  left: -28px;
}

.slide__content {
  display: flex;
  flex-direction: column;
}

.slide__slogan {
  margin: 0;
  padding-right: 100px;
  position: absolute;
  top: -131px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.7px;
  z-index: 1;
}

.slide__slogan_max-width {
  min-width: 510px;
}

.slide__description {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  padding-right: 10px;

  letter-spacing: 0.17px;
}

.slide__description-2_max-width {
  padding-right: 50px;
}

.slide__description-3_max-width {
  padding-right: 30px;
}

.slide__about-product-link {
  position: relative;
  margin-bottom: 50px;
}

.button {
  width: 132px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  padding: 5px 44px;
}

.button::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #f0c52e;
  z-index: -1;
}

.button:hover::before,
.button:focus::before {
  height: 40px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Блок table-property*/
.table-property {
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  width: 460px;
}

.table-property__table-data {
  box-sizing: border-box;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 6px;
}

.table-property__table-data {
  width: 160px;
}

.table-property__table-data:nth-child(2) {
  width: 140px;
}

.table-property__table-data_width {
  width: 74px;
}

.table-property__table-head {
  font-size: 13px;
  line-height: 20px;

  color: #464646;
}


/*Блок popular-sections*/
.popular-sections {
  width: 1160px;
}

.popular-sections__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-height: 240px;
  justify-content: space-between;
}

.popular-sections__item {
  position: relative;
  width: 160px;
  vertical-align: bottom;
}

.popular-sections__link {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  padding-top: 193px;
  letter-spacing: 0.2px;
}

.popular-sections__link_text-width {
  padding-right: 35px;
}

.popular-sections__link::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-color: #f7e296;
}

.popular-sections__item:nth-child(1) .popular-sections__link::after {
  position: absolute;
  content: "";
  width: 97px;
  height: 55px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-image: url("../img/decor/popular-sections/popular-vr.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.popular-sections__item:nth-child(2) .popular-sections__link::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 117px;
  top: 17%;
  left: 52%;
  transform: translateX(-51%);
  background-image: url("../img/decor/popular-sections/popular-selfie.svg");
  background-repeat: no-repeat;
}

.popular-sections__item:nth-child(3) .popular-sections__link::after {
  position: absolute;
  content: "";
  width: 71px;
  height: 87px;
  top: 16%;
  left: 53%;
  transform: translateX(-50%);
  background-image: url("../img/decor/popular-sections/popular-action.svg");
  background-repeat: no-repeat;
}

.popular-sections__item:nth-child(4) .popular-sections__link::after {
  position: absolute;
  content: "";
  width: 107px;
  height: 65px;
  top: 21%;
  left: 52%;
  transform: translateX(-50%);
  background-image: url("../img/decor/popular-sections/popular-fitness-bracelet.svg");
  background-repeat: no-repeat;
}

.popular-sections__item:nth-child(5) .popular-sections__link::after {
  position: absolute;
  content: "";
  width: 56px;
  height: 98px;
  top: 13%;
  left: 52%;
  transform: translateX(-50%);
  background-image: url("../img/decor/popular-sections/popular-whatch.svg");
  background-repeat: no-repeat;
}

.popular-sections__item:nth-child(6) .popular-sections__link::after {
  position: absolute;
  content: "";
  width: 132px;
  height: 69px;
  top: 20%;
  left: 51%;
  transform: translateX(-50%);
  background-image: url("../img/decor/popular-sections/popular-quadcopter.svg");
  background-repeat: no-repeat;
}

.popular-sections__item:nth-child(n) .popular-sections__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-sections__item:nth-child(n) .popular-sections__link:hover::before,
.popular-sections__item:nth-child(n) .popular-sections__link:focus::before {
  background-color: #f0c52e;
}

.popular-sections__item:nth-child(n) .popular-sections__link:active::before {
  background-color: #f0c52e;
}

.popular-sections__item:nth-child(n) .popular-sections__link:active::after {
  opacity: 0.3;
}

/*Блок services*/
.wrapper__decoration_background-color {
  position: relative;
}

.wrapper__decoration_background-color::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 288px;
  background-color: #e5e5e5;
  top: 181px;
  z-index: -2;
}

#delivery,
#garanty,
#credit {
  display: none;
}

.services {
  width: 1160px;
  min-height: 387px;
}

.services__container {
  display: flex;
}

.services__toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 115px;
  padding-top: 164px;
  padding-bottom: 64px;
}

.services__toggle:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  top: 81px;
  left: 278px;
  background-color: #000000;
}

.delivery-toggle,
.garanty-toggle,
.credit-toggle {
  position: relative;
}

.delivery-toggle {
  letter-spacing: 1.8px;
  padding-left: 20px;
  padding-right: 9px;
  margin-bottom: 30px;
}

.garanty-toggle {
  letter-spacing: 3.8px;
  padding-left: 25px;
  padding-right: 4px;
  margin-bottom: 31px;
}

.credit-toggle {
  letter-spacing: 3.8px;
  padding-left: 38px;
  padding-right: 0;
}

.delivery-toggle::before,
.garanty-toggle::before,
.credit-toggle::before {
  width: 160px;
}

.delivery-toggle:active,
.garanty-toggle:active,
.credit-toggle:active {
  color: #f7e184;
}

.delivery-toggle:active::before,
.garanty-toggle:active::before,
.credit-toggle:active::before {
  width: 278px;
  background-color: #000000;
}


/*Блок services-items*/
.services-items {
  padding-top: 154px;
}

.services-items__item:nth-child(n) {
  display: none;
}

#delivery:checked ~ .services__container .services-items__item:nth-child(1),
#garanty:checked ~ .services__container .services-items__item:nth-child(2),
#credit:checked ~ .services__container .services-items__item:nth-child(3) {
  display: block;
}

#delivery:checked ~ .services__container {
  background-image: url("../img/decor/services/delivery.svg");
  background-repeat: no-repeat;
  background-position: 959px 166px;
}

#garanty:checked ~ .services__container {
  background-image: url("../img/decor/services/warranty.svg");
  background-repeat: no-repeat;
  background-position: 944px 142px;
}

#credit:checked ~ .services__container {
  background-image: url("../img/decor/services/credit.svg");
  background-repeat: no-repeat;
  background-position: 935px 143px;
}

.services-items__title {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;

  padding-left: 117px;
  margin-bottom: 31px;
}

.services-items__content {
  margin: 0;
  padding-left: 116px;
  padding-right: 315px;

  color: #464646;
  letter-spacing: 0.3px;
}

